{% extends 'layout.html' %}

{% block body %}
<div class="wrapper">

  <section class="top-container">
    <header class="showcase">
    </header>
  </section>

  <section class="boxes">
    <a target='blank' href='https://en.wikipedia.org/wiki/Python_(programming_language)'>
    <div class="box" >
      <table>
        <tr><td class='box-image'>
          <img src="{{ url_for('static', filename='images/python.png') }}" alt='python' width='50%'>
        </td></tr>
        <tr><td class='box-text'>
          <h3>Python</h3>
          <p> Python has been invented in 1980 by a Dutch Guido van Rossum. The python community has named him <italic> Benevolent Dictator for Life (BDFL)</italic>. The name
            comes from the BBC TV Show 'Monty Python's Flying Circus'.
          </p>
        </td></tr>
      </table>
    </div>
    </a>

    <a target='blank' href='https://en.wikipedia.org/wiki/Club-Mate'>
    <div class="box">
      <table>
        <tr><td class='box-image'>
          <img src="{{ url_for('static', filename='images/mate.png') }}" alt='python' height='100%'>
        </td></tr>
        <tr><td class='box-text'>
          <h3>Club Mate</h3>
          <p class='box-text'>Club-Mate is a caffeinated carbonated mate-extract beverage made by the Loscher Brewery in Germany. Club-Mate has 20 mg of caffeine per 100 ml and
            a relatively low sugar content of 5 g per 100 ml, and low calories of 20 kcal per 100 ml of beverage. It has developed a following in computer hacker culture and tech start-ups, especially in Europe.
          </p>
          </td></tr>
        </table>
    </div>
    </a>

    <a target='blank' href='https://en.wikipedia.org/wiki/Ada_Lovelace'>
    <div class="box">
      <table>
        <tr><td class='box-image'>
          <img src="{{ url_for('static', filename='images/ada-lovelace.jpg') }}" alt='python' width='60%'>
        </td></tr>
        <tr><td class='box-text'>
          <h3>Ada Lovelace</h3>
            <p class='box-text'>
              Ada Lovelace is considered to be the first programmer in the history. She worked with Sir Charles Babbage on the Analytical Engine, the predecessor of the modern computer.
              The first program she wrote was the calculating the Bernoulli number using the aforementioned Analytical Engine.
            </p>
        </td></tr>
      </table>
    </div>
    </a>

    <a target='blank' href='https://en.wikipedia.org/wiki/Rakia'>
    <div class="box">
      <table>
        <tr><td class='box-image'>
          <img src="{{ url_for('static', filename='images/kazan.png') }}" alt='python' width='40%'>
        </td></tr>
        <tr><td class='box-text'>
          <h3>Rakija</h3>
          <p class='box-text'>
            Rakija is the collective term for fruit brandy popular in the Balkans. The alcohol content of rakia is normally 40% ABV, but home-produced rakia can be stronger, typically 50%.
            It is also a very popular and effective medicine used for everything from sore throat to threating bruises and sprained joints.
          </p>
        </td></tr>
      </table>
    </div>
    </a>
  </section>

</div>

{% endblock %}
