{% extends 'layout.html' %}
{% block body %}
<form action="" method="POST">
  <div class="form-group">
    <label for=team>Team name</label>
    <input type="text" class='form-control' name="team_name" placeholder="Team name" value={{request.form.team_name}} required>
  </div>
  <div>
    <label for=password>Password</label>
    <input type="password" name="password" class='form-control' placeholder="Password" value={{request.form.password}} required>
  </div>
  <br>
  <input type="submit" class="btn btn-primary" value="Submit">

</form>

{% endblock %}
